# Folder Data Mentah Raksasa (JANGAN DIPUSH!)
data/raw/
data/processed/
*.parquet
docs/arsip/
# File Temporary Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environment Variables
.env
.venv/
env/
venv/
